@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.char::first-letter {text-transform: uppercase; }

.transit { 
  transition: .5s color ease, .5s background-color ease;
  -moz-transition: .5s color ease, .5s background-color ease;
  -webkit-transition: .5s color ease, .5s background-color ease;
  -o-transition: .5s color ease, .5s background-color ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1400px;
  width: 61.80%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
/* header top stlye starts */
.header-top { background-color: #393D4A; }

.header-top a{ 
  color: #fff; 
  font-size: 10px;
  font-weight: bold;
}

.header-bottom a:hover,
.header-top a:hover { color: #D1333C; }

.header-top .wrapper {
  padding: 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; 
}  

.features li,
.social li { margin-right: auto; }
.features li:last-child, 
.social li:last-child { margin-right: 0; }
.social li a{ text-indent: -9999px; }

.social { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -ms-flex-preferred-size: 10%; 
  flex-basis: 10%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.twitter::before,
.instagram::before,
.facebook::before{
  content: "\f09a";
  float: right;
  font-family: fontAwesome;
  font-size: 12px;
  text-indent: 0;
  transition: .5s color ease;
  -webkit-transition: .5s color ease;
  -moz-transition: .5s color ease;
  -o-transition: .5s color ease;
}

.twitter::before{ content: "\f099"; }
.instagram::before{ content: "\f16d"; }

.twitter:hover::before,
.instagram:hover::before,
.facebook:hover::before{ color: #D1333C; }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 21%;
  flex-basis: 21%;
}

.features li a {
  font-size: 10px;
  font-weight: bold;
} 

.call-me { 
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%; 
  white-space: nowrap;
}

.call-me a {
  margin: 0 5% ;
  display: inline;
  position: relative;
  font-weight: bold;
  font-size: 12px;
}

.call-me a::before {
  content: "\f2a0";
  position: absolute;
  bottom: 0;
  left: -25px;
  font-family: fontAwesome;
  font-size: 16px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.call-me span{
  display: inline-block;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

.login a::before {
  content: "\f007";
  margin-right: 18%;
  font-family: fontAwesome;
  font-size: 15px;
}

.login { 
  flex-basis: 5%; 
  -ms-flex-preferred-size: 5%;
}
/* header top stlye ends */
.mobile { display: none; }

.header-bottom { padding: 23px 0; }
.ham { display: none; }
h1 {  flex-basis: 8%; }

.navigation,
.header-bottom .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items:   center;
}

.navigation { 
  -ms-flex-preferred-size: 81%;
  flex-basis: 81%;
}

nav a{ 
  color: #0e0e0e;
  font-size: 14px;
  font-weight: bold;
}

nav { 
  -ms-flex-preferred-size: 72%;
  flex-basis: 72%; 
} 

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.additional li,
nav li { margin-right: auto; }
.additional li:last-child,
nav li:last-child { margin-right: 0;}

.additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 12%;
}

.search,
.likes,
.cart { text-indent: -99999px; }

.search::before,
.likes::before,
.cart::before {
  content: "\f002";
  float: right;
  color: #3a3d49;
  font-family: fontAwesome;
  font-size: 12px;
  text-indent: 0;
  transition: .5s color ease;
  -webkit-transition: .5s color ease;
  -moz-transition: .5s color ease;
  -o-transition: .5s color ease;
}

.likes::before { content: "\f004"; }
.cart::before { content: "\f290"; }

.search:hover::before,
.likes:hover::before,
.cart:hover::before { color: #D1333C; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styles starts */
.banner .wrapper { position: relative; }

.banner-content {
  position: absolute;
  right: 12%;
  bottom: 17%;
  color: #fff;
  text-align: center;
}

h2 {
  margin: 14px 0 17px;
  font-size: 74px;
  font-weight: bold;
}

.banner-content span {
  display: block;
  font-size: 40px;
}

.banner-content a {
  padding: 10px 14px;
  margin-top: 33px;
  background-color: #51BE42;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.banner-content a:hover {
  background-color: #fff;
  color: #51BE42;
}
/* banner style ends */

/* foods section style starts */
.foods .wrapper { width:60%; }
.foods { margin: 60px 0; }

.tab-buttons {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto 40px;
}

.tab-buttons .active {
  color: #0e0e0e;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  -webkit-text-decoration-color: #FE8128;
  text-decoration-color: #FE8128;
}

.tab-buttons a:hover { color: #0e0e0e; }

.tab-buttons a {
  padding-bottom: 10px;
  color: #c7c8cb;
  font-size: 25px;
  font-weight: bold;
}

.tab-section ul:not(.active) { display: none; }

.tab-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tab-section ul li {
  margin-right: 2%;
  -ms-flex-preferred-size: 22%;  
  flex-basis: 22%;
}

.mob-feature,
.mob-cart { display: none; }

.tab-section ul li:nth-of-type(1),
.tab-section ul li:nth-of-type(2),
.tab-section ul li:nth-of-type(3),
.tab-section ul li:nth-of-type(4){ margin-bottom: 80px; }

.tab-section ul li:nth-of-type(4),
.tab-section ul li:nth-of-type(8){ margin-right: 0; }

.list-content span,
h4 {
  color: #3a3d4b;
  font-size: 14px;
  font-weight: bold;
}

h4 { margin-top: 12px; }

.list-content p {
  margin: 15px 0;
  color: #999ba2;
  font-size: 10px;
}

.list-content span { display: block; }
/* foods section style ends */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer .wrapper {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;  
  -webkit-box-direction: normal; 
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

h5 {
  width: 22%;
  margin: 16px auto 57px;
}

footer .social { 
  width: 30%;
  margin: 0 auto 20px;
  -ms-flex-preferred-size: 30%; 
  flex-basis: 30%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .twitter::before,
footer .instagram::before,
footer .facebook::before{ color: #8B8E93; }

.rights {
  margin-bottom: 38px;
  display: block;
  color: #8B8E93;
  font-size: 10px;
} 

.rights a { color: #8B8E93; }
.rights a:hover { color: #D1333C; } 
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .wrapper { width: 90%; }
  /* header top style starts */
  .header-top a{ font-size: 14px; }
  .header-top a:hover { color: #fff; }
  .header-top .wrapper { padding: 16px 0; }  

  .login a::before,
  .call-me span,
  .call-me a,
  .twitter::before,
  .instagram::before,
  .facebook::before{ font-size: 14px; }

  .twitter:hover::before,
  .instagram:hover::before,
  .facebook:hover::before{ color: #fff; }

  .features {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }

  .features li a { font-size: 14px; } 
  /* header top style ends */

  /* header bottom style starts */
  .header-bottom { padding: 23px 0; }

  h1 { 
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%; 
  }

  .ham {
    width: 20px;
    height: 100%;
    float: right;
    position: relative;
    display: block;
    cursor: pointer;
  }

  .ham span {
    width: 20px;
    height: 3px;
    margin: 6px 0;
    display: block;
    background: #000;
    text-indent: -99999px;
    transition:  0.5s ease;
  }   

  .open .bar-two { display: none; }
  .open .bar-one { transform: rotate(45deg) translatex(7px); }
  .open .bar-three { transform: rotate(-45deg) translatex(6px); }
  header { position: relative; }

  nav ul {  
    display: none;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 130px;
    left: 0;
    right: 0;
    background-color: #fff;
  }

  nav li {
    margin: 10px 0;
    display: block;
    text-align: center;
  }
  
  .navigation { 
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
  }

  nav { 
    -ms-flex-preferred-size: 7%;
    flex-basis: 7%; 
  } 

  nav a{ 
    display: block;
    font-size: 16px;
  }

  .header-bottom a:hover { color: #0e0e0e; }
  .search:hover::before,
  .likes:hover::before,
  .cart:hover::before { color: #3a3d49; }
  /* header styling ends */
  /* banner styles starts */
  h2 { font-size: 64px; }
  .banner-content { right: 25%; }

  .banner-content a:hover {
    background-color: #51BE42;
    color: #fff;
  }
  /* banner style ends */
  /* foods section style starts */
  .foods .wrapper {  width: 88%; }
  .tab-buttons { width: 55%; }
  .tab-buttons .active:hover { color: #0e0e0e; }
  .tab-buttons a:hover { color: #c7c8cb; }
  .list-content span,
  h4 { font-size: 16px; }
  .list-content p { font-size: 12px; }
  /* foods section style ends */
  /* footer section styles starts */
  footer .wrapper { width: 40%; }
  h5 { width: 28%; }
  footer .social { width: 35%; }
  footer .twitter:hover::before,
  footer .instagram:hover::before,
  footer .facebook:hover::before { color: #8B8E93; }
  .rights { font-size: 12px; } 
  .rights a:hover { color: #8B8E93; } 
  /* footer section style ends */
}  
/*media query for 995px ends here*/
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
   .wrapper { width: 100%; }
  /* header style starts */
  .mobile { display: block; }
  .desktop { display: none; }
  .header-top { display: none; }
  .header-bottom { background-color: #D1333C; }
  .header-bottom .wrapper { width: 90%; }
  .header-bottom { padding: 23px 0; }

  h1 { 
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%; 
  }

  .ham span { background: #fff; } 
   header { position: relative; }
  nav ul { top: 75px;}
  nav li { margin: 20px 0; }

  .search::before,
  .likes::before,
  .cart::before { 
    color: #fff; 
    font-size: 22px;
  } 

  .additional { flex-basis: 18%; }
  .search:hover::before,
  .likes:hover::before,
  .cart:hover::before { color: #fff; }
  /* header style ends */
  /* foods section style starts */
  .tab-buttons { width: 82%; }
  .foods .wrapper { width:78%; }
  .foods { margin: 60px 0; }
  .tab-buttons a { font-size: 28px; }

  .tab-section ul li {
    -ms-flex-preferred-size: 42%;  
    flex-basis: 42%;
  }

  .mob-cart::first-letter { text-transform: uppercase; }

  .mob-cart {
    display: block;
    padding: 10px 5%;
    border-radius: 5px;
    font-size: 16px;
    color: #393D4A;
    background-color: #FFD141;
    text-align: center;
    text-transform: capitalize;
  }

  .mob-cart::before {
    content: "\f290";
    margin-right: 2%;
    font-family: fontAwesome;
    font-size: 14px;
    transition: .5s color ease;
    -webkit-transition: .5s color ease;
    -moz-transition: .5s color ease;
    -o-transition: .5s color ease;
  }

  .tab-section li {
    position: relative;
  }

  .mob-feature {
    display: block;
    position: absolute;
    top: 45%;
    right: 10%;
  }

  .mob-feature a:nth-child(1),
  .mob-feature a:nth-child(2) { text-indent: -9999px; }

  .mob-feature a:nth-child(1)::before,
  .mob-feature a:nth-child(2)::before{
    content: "\f002";
    padding: 15px 15px;
    border-radius: 50%;
    float: right;
    background-color: #F1F1F2;
    color: #3a3d49;
    font-family: fontAwesome;
    font-size: 18px;
    text-indent: 0;
  }

  .mob-feature a:nth-child(2)::before{ content: "\f004"; }

  .list-content span { margin-bottom: 20px; }

  .tab-section ul li:nth-of-type(1),
  .tab-section ul li:nth-of-type(2),
  .tab-section ul li:nth-of-type(3),
  .tab-section ul li:nth-of-type(4){ margin-bottom: 0; }

  .list-content span,
  h4 { font-size: 18px; }
  .list-content p { font-size: 14px; }
  /* foods section style ends */
  /* footer section styles starts */
  footer .wrapper { width: 40%; }

  h5 { 
    width: 38%; 
    margin-bottom: 90px;
  }

  footer .social {
    width: 55%; 
    margin-bottom: 40px;
  }

  .rights { font-size: 14px; } 
  .rights a:hover { color: #8B8E93; } 

  .twitter::before, 
  .instagram::before, 
  .facebook::before { font-size: 18px; }

  .rights {
    margin-bottom: 120px;
    font-size: 12px;
  }
  /* footer section style ends */
}  
/*media query for 768px ends here*/
